@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

:root{
    --primary: #c18b40;
    --light: #EEEEEE;
    --dark: #222244;
    --form: #413b3b;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menubar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
  }
  
  h1{
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: capitalize;
    
  }
  
  .hamburger{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none ;
    border: none;
    outline: none;
    background: none;
  }
  .hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
  
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
  }
  
  .hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--primary);
  }
  
  .hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
  }
  
  .hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
  }
  
  .hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
  }
  
  .hamburger.is-active:hover span{
    background-color: var(--primary);
  }
  
  .mobile-nav {
    position: fixed;
    bottom: 100%;
    left: 100%;
    width: 100%;
    min-height: 330px;
    display: block;
    z-index: 98;
    background-color: rgba(0, 0, 0, .7);
    padding-top: 90px;
    transition: 0.8s;
  }
  
  .mobile-nav.is-active {
    top: 0;
    left: 0;
    transition: 0.7s;
  }
  
  .mobo-nav-link {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 16px;  
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    color: #FFF;
    transition: 0.7s;
  }
  
  .mobo-nav-link:hover {
    color: var(--primary);
    transition: 0.4s;
  }
  
  .menu{
    display: none;
    flex: 1px 1px 0%;
    justify-content: flex-end;
    margin: 0px -16px;
  }
  
  .menu a {
    color: #fff;
    margin: 0px 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
  }
  
  .menu a.is-active {
    background-color: var(--primary);
  }
  
  .menu a:hover {
    background-color: var(--primary);
  }
  
  @media (min-width: 768px) {
    .hamburger{
      display: none;
    }
    .menu{
      display: block;
    }
  }

  section {
    padding: 100px;
  }

  .home {
    position: relative;
    width: 100%;
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./images/homebg.jpg');
    background-size: cover;
  }

  .home .content {
    max-width: 900px;
    text-align: center;
  }

  .home .content h2 {
    font-size: 5em;
    color: #fff;
  }
  
  .home .content p {
    font-size: 1em;
    color: #fff;
  }
  
  .btn {
    font-size: 1em;
    color: #fff;
    display: inline-block;
    background: var(--primary);
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
  }

/* pop up form */

.btn {
  font-size: 1em;
  color: #fff;
  display: inline-block;
  background: #ff0157;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 20px;
  letter-spacing: 2px;
  transition: 0.5s;
  }

  .formcontainer {
    position: fixed;
    align-items: center;
    justify-content: space-between;
    bottom: 100%;
    left: 100%;
    width: 100%;
    display: block;
    z-index: 130;
    padding-top: 200px;
    transition: 0.8s;
    border-radius: 5px;
    padding: 16px 32px;
  }

  .formcontainer.is-active {
    top: 0;
    left: 0;
    transition: 0.7s;
  }

  .thankyou {
    position: fixed;
    align-items: center;
    justify-content: space-between;
    bottom: 100%;
    left: 100%;
    width: 100%;
    display: block;
    z-index: 130;
    padding-top: 200px;
    transition: 0.8s;
    border-radius: 5px;
    padding: 16px 32px;
  }

  .thankyou.is-active {
    top: 0;
    left: 0;
    transition: 0.7s;
  }

  .tywrapper {
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 90%;
    height: 300px;
    position: relative;
    transition: all 5s ease-in-out;
  }

  .tywrapper h1 {
    text-align: center;
    color: var(--form);
    font-size: medium;
    padding: auto;
  }
  .tywrapper .tyclose {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .tywrapper .tyclose:hover {
    color: #d80606;
  }
  

  .wrapper {
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 90%;
    max-height: 500px;
    position: relative;
    transition: all 5s ease-in-out;
    overflow-y: scroll;
  }
  .wrapper h1 {
    margin-top: 0;
    color: var(--form);
    font-size: medium;
    padding: 2px;
  }
  .wrapper .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--form);
  }
  .wrapper .close:hover {
    color: #d80606;
  }
  .wrapper .content {
    max-height: 30%;
    overflow: auto;
  }

  form label {
    text-transform: uppercase;
    font-weight: 500;
    padding: 2px;
    letter-spacing: 3px;
    font-size: small;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=radio], select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=time], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: var(--form);
    color: #fff;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

 

.checkmark__circle{
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--form);
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}
.checkmark{
  visibility: hidden;
}
.checkmark.is-active{
  width: 56px;
  visibility: visible;
  height: 56px;
  border-radius: 50%;
  display: flex;
  stroke-width: 2;
  align-content: center;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 5% auto;
  box-shadow: inset 0px 0px 0px var(--form);
  animation: fill .7s ease-in-out .7s forwards, scale .6s ease-in-out 1.2s both
}
.checkmark__check{
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 1.3s cubic-bezier(0.65, 0, 0.45, 1) 1.4s forwards
}
@keyframes stroke{
  100%{stroke-dashoffset: 0}
}
@keyframes scale{
  0%, 100%{transform: none}50%{transform: scale3d(1.1, 1.1, 1)}
}
@keyframes fill{
  100%{box-shadow: inset 0px 0px 0px 30px var(--form)}
}